body, html, main {
  width: 100vw;
  padding: 0px;
  margin: 0;
}

#first-page {
  background-image: url("background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  max-height: 100vh;
}

header {
  display: flex;
  flex-direction: row;
  height: 80px;
  width: 100vw;
  padding-top: 10px;
  margin-bottom: 50px;
}

header > a > img {
  height: 45px;
  margin-left: 50px;
  margin-top: 20px;
}

#navBar {
  display: none
}

nav {
  list-style: none;
  display: flex;
  margin-left: auto;
  margin-top: 30px;
  margin-right: 3.5%;
}

/*button for mobile menu*/
#navButton {
  display: none;
}

/*navigation links*/
nav  a {
  margin-left: 30px;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  color: black;
  text-decoration: none;
}

a:hover {
  color: rgba(0, 0, 0, 0.8);
}

/*order online button in header*/
#orderNav {
  background-color: black;
  color: white;
  height: 25px;
  width: 100px;
  padding: 15px 20px;
  font-size: 15px;
  font-family: 'Montserrat', sans-serif;
}

#orderNav:hover {
  background-color: rgba(0,0,0,.7);
}

nav > a {
  display: flex;
  height: min-content;
  margin-top: -15px;
}

/*title in middle of page & order now button*/
.heading {
  display: flex;
  flex-direction: column;
  height: 80%;
  margin-top: 180px;
  align-items: center;
  justify-content: center;
  text-align: center;
}

/*main title middle of page*/
.heading > h1 {
  font-family: 'Lato', sans-serif;
  font-size: 70px;
  font-weight: 700;
  margin: 0px;
  padding: 0px;
  text-shadow: 0 0 10px rgb(255, 219, 177);
}

/*order now button in middle of page*/
#orderButton {
  background-color: black;
  color: white;
  width: 200px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 20px;
  font-family: 'Montserrat', sans-serif;
}

#orderButton:hover {
  background-color: rgba(0,0,0,.75);
}

#orderLink {
  text-decoration: none;
  margin-top: 50px;
}



/*holding info and gf button*/
.stuff {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  margin-bottom: 25px;
  padding: 0px;
  color: black;
}

.restaurant p {
  border-top: solid;
  border-width: 1px;
  padding-top: 15px;
  font-size: 12px;
  color: rgba(0, 0, 0, .7);
  border-color: rgba(0, 0, 0, .3);
}
.category {
  display: flex;
  flex-direction: row;
  max-width: 100vw;
  min-height: 405px;
  overflow-y: hidden;
  margin-left: 100px;
  padding-bottom: 35px;
}

.restaurant {
  padding-right: 60px;
  min-width: 25vw;
  height: 50vh;
}

.restaurant > img {
  max-height: 100%;
  max-width: 100%;
  min-height: 250px;
  overflow: hidden;
}

#order-button > h1 {
  color: white;
  font-size: 30px;
  font-family: 'Montserrat', sans-serif;
  margin: 0px;
  padding: 0px;
  margin-top: 50px;
}

.info {
  font-family: 'Montserrat', sans-serif;
  padding: 0px;
  margin: 0px;
}

.info-box > h2 {
  font-size: 20px;
}

.info-box > h3 {
  font-size: 12px;
}

.category-title {
  font-family: 'Bungee Shade', cursive;
  font-size: 40px;
  margin-left: 100px;
  margin-top: 100px;
  margin-bottom: 50px;
}

.heading > h2 {
  font-family: 'Karla', sans-serif;
  font-weight: 400;
  font-size: 25px;
  margin-top: 40px;
  padding: 0px;
  text-shadow: 0 0 10px rgba(255,255,255,1)
}

footer {
  display: flex;
  height: 40vh;
  justify-content: center;
  background-image: url("fries.jpg");
  margin-top: 80px;
}

footer > p {
  display: flex;
  align-items: flex-end;
}
